body{
    background-image: url(pedri_kopa.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

li {
    display: inline;
}

header{
    background-image: url(pedri_kopa.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}